@font-face {
    font-family: 'isadiliballi';
    src: url('font/isadiliballi.woff2') format('woff2'),
         url('font/isadiliballi.woff') format('woff'),
         url('font/isadiliballi.eot') format('eot');
 

}


body{
    overflow-y: scroll;
  }

  .l1
  {
      position: relative;
      top:35%;
  }
  .title{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 32px;
    color: rgb(47, 0, 255);
  }
  .wrapper {
    width: 50%;
    height: 50%;
    margin: 5% auto 0 auto; 
  }
  .font {
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  .form {
    text-align: center; 
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
  }
  .shadow{
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 255);
    opacity: 0.5;
    border-radius: 100px;
    width: 45%; 
    margin: 40px auto 0 auto;
    padding: 0 10px;  
    -webkit-animation: shadow 1.5s infinite;
  }
  .field-in {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 50%;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .name {
    background-color: rgb(0, 110, 255);  
    border-bottom: 5px solid rgb(0, 26, 255);
  }
  .name:hover{
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(172, 172, 172);
  }
  .name:focus, .email:focus, .message:focus{
    outline: none;
    padding:15px;
  }
  .email {
    background-color: rgb(0, 110, 255);  
    border-bottom: 5px solid rgb(0, 26, 255);
  }
  .email:hover{
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(172, 172, 172);
  }
  .message {   
    background-color: rgb(0, 110, 255);
    border-bottom: 5px solid rgb(0, 26, 255);
    overflow: hidden;
    height: 50px;
  }
  .message:hover{
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(172, 172, 172);
    height: 150px;
  }
  .submit{
    border-radius:5px;
    padding:10px;
    background-color: rgb(255, 255, 255);  
    border: none;
    border-bottom: 5px solid rgb(172, 172, 172);  
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .submit:hover{
    -webkit-transform: translate(0, 4px);
    border-bottom: 2px solid rgb(177, 177, 177);  
    box-shadow: inset 0px 0px 10px 10px rgb(182, 182, 182);
    cursor: pointer;
  }
  ::-webkit-input-placeholder {
     color: rgb(0, 0, 0);
  }
  
  :-moz-placeholder { 
     color: rgb(0, 0, 0);
  }
  
  ::-moz-placeholder { 
     color: rgb(0, 0, 0); 
  }
  
  :-ms-input-placeholder {  
     color: rgb(0, 0, 0);  
  }
  
  @-webkit-keyframes bounce{
    0%{
      
    }
    50%{
      -webkit-transform: translate(0, 8px);
    }
  }
  @-moz-keyframes bounce{
    0%{
      
    }
    50%{
      -moz-transform: translate(0, 8px);
    }
  }
  @keyframes bounce{
    0%{
      
    }
    50%{
      transform: translate(0, 8px);
    }
  }
  @-webkit-keyframes shadow{
    0%{
      
    }
    50%{
      opacity: 0.8;
      width: 50%;
    }
  }
  @-moz-keyframes shadow{
    0%{
      
    }
    50%{
      opacity: 0.8;
      width: 50%;
    }
  }
  @keyframes shadow{
    0%{
      
    }
    50%{
      opacity: 0.8;
      width: 50%;
    }
  }
  #arkax1
  {
    background-size: cover;
    background-attachment: fixed;
    height: 50px;
    width: 100%;
    
  }
  #arkax2
{
   
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
    width: 100%;
}
  
  .kare
  {
    position: absolute;
    opacity: 0.8;
    left: 0%;
    top: 95px;
    width:100%;
    height:60%; 
    background-color:rgb(0, 0, 0);
   
    
   
  }
  
  .p1
  {
position: relative;
color: #008dff;
z-index: 1;
font-size: 100px;
text-decoration: none;
  }

  .mailcss
  {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .telefoncss 
  {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .p2
  {
    position: relative;
    color: white;
    z-index: 1;
    font-size: 30px;
    text-decoration: none;
  }

  .p3
  {
    position: relative;
    color: white;
    z-index: 1;
    font-size: 30px;
    text-decoration: none;
  }
  .p4
  {
    position: relative;
    color: white;
    z-index: 1;
    font-size: 30px;
    text-decoration: none;
  }

  .asagi
  {
      position: absolute;
      color: white;
      top:60%;
  }

  .harita
  {
    
    position: absolute;
    top: 45%;
    width: 100%;
    height: 30%;
    opacity: 0.9;
    
  }

  .altbaslik
  {
    position: relative;
    top: 500%;
  }

  .p5
  {
    position: relative;
    color: white;
    z-index: 1;
    font-size: 40px;
    top: 50px;
    color: rgb(0, 153, 255);
  }